{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Pembuatan Pertandingan</title>
<head>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
    crossorigin="anonymous"
  />
</head>

{% endblock meta %} {% block content %}
<div>
  <table class="table" style="text-align: center">
    <thead>
      <tr>
        <th colspan="2">List Waktu Stadium [Nama Stadium]</th>
      </tr>
      <tr>
        <th>List Waktu</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>11.00 - 13.00</td>
        <td>Dipesan</td>
      </tr>
      <tr>
        <td>07.00 - 09.00</td>
        <td>
          <a
            href="{% url 'example_app:buat_pertandingan_antar_2tim' %}"
            class="btn btn-primary"
            >Next</a
          >
        </td>
      </tr>
    </tbody>
  </table>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"
  ></script>

  {% endblock content %}
</div>
