{% extends 'base.html' %}

{% block meta %}
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Login Page</title>
{% endblock meta %}

{% block content %}
<div class='h-screen'>
    <div class='flex justify-center'>
        <div>
            <h1 class='font-bold text-4xl text-black'>FORM LOGIN</h1>
        </div>
    </div>
    <div class='grid gap-y-2'>
        <div class='grid gap-y-4 border-2 border-black p-4'>
            <div>
                <p class="text-black">Username:  </p>
                <input type="text" id="username" class="rounded border-2 border-black">
            </div>
            <div>
                <p class="text-black">Password: </p>
                <input type="password" id="password" class="rounded border-2 border-black">
            </div>
        </div>
        <div class='flex justify-center'>
            <div>
                <button id="loginBtn" class='bg-black w-full rounded p-2'>
                     <h1 class='font-medium text-xl text-white'>LOGIN</h1>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function showError(message) {
        $("#errorMessage").html("");
        const text = `<p class="text-white font-bold text-center">${message}</p>`;
        $(text).appendTo("#errorMessage");
    }

    $(document).ready(function() {
        $("#loginBtn").click(function() {
            var username = $("#username").val();
            var password = $("#password").val();

            if (username === "" || password === "") {
                showError('Data yang diisikan belum lengkap, silakan lengkapi data terlebih dahulu.');
            } else {
                $.ajax({
                    method: 'POST',
                    url: '{% url "example_app:login_user" %}',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    data: {
                        username: username,
                        password: password,
                    },
                    success: function(response) {
                        if (response.status === 200) {
                            window.location.href = '{% url "example_app:dashboard" %}';
                        } else {
                            showError('Email atau password tidak valid');
                        }
                    },
                    error: function(error) {
                        showError('Error occurred during login');
                    }
                });
            }
        });
    });
</script>

{% endblock content %}
