{% extends 'base.html' %} {% load static %} {% block meta %}
<script src="https://cdn.tailwindcss.com"></script>
<title>Manage Pertandingan</title>
{% endblock meta %} {% block content %}
<div class="h-screen flex justify-center items-center">
        {% if not available_pertandingan %}
        <div class="font-bold text-3xl text-center">
            <div>
                <h1>PERTANDINGAN BELUM LENGKAP!</h1>
                <h1>KLIK TOMBOL NEXT UNTUK MEMBUAT PERTANDINGAN</h1>
            </div>
            <div class="flex justify-center items-center">
                <button type="button" class="bg-slate-200 rounded w-1/2">
                    <a style="text-decoration: none" href="{% url 'example_app:pembuatan_pertandingan' %}">NEXT</a>
                </button>
            </div>
        </div>
        {% else %}
        <table class="table" style="text-align: center; margin-top: 10px;">
            <thead>
                <tr>
                    <th colspan="5">List Pertandingan Grup Stage</th>
                </tr>
                <tr>
                    <th>Grup</th>
                    <th>Tim</th>
                    <th>Waktu</th>
                    <th>Pemenang</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if available_A %}
                    {% for p in grupA %}

                    <tr>
                        <td>A</td>
                        <td>{{ p.team_names }}</td>
                        <td>{{ p.start_datetime }}</td>
                        <td>A</td>
                        <td style="border-collapse: collapse">
                            <a href="{% url 'example_app:peristiwa' %}">
                                <button type="button" class="btn btn-primary">
                                    Lihat Peristiwa Tim 1
                                </button>
                            </a>
                            <br /><br />
                            <a href="{% url 'example_app:peristiwa' %}">
                                <button type="button" class="btn btn-primary">
                                    Lihat Peristiwa Tim 2
                                </button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
                {% if available_B %}
                    {% for p in grupB %}

                    <tr>
                        <td>B</td>
                        <td>{{ p.team_names }}</td>
                        <td>{{ p.start_datetime }}</td>
                        <td>A</td>
                        <td style="border-collapse: collapse">
                            <a href="{% url 'example_app:peristiwa' %}">
                                <button type="button" class="btn btn-primary">
                                    Lihat Peristiwa Tim 1
                                </button>
                            </a>
                            <br /><br />
                            <a href="{% url 'example_app:peristiwa' %}">
                                <button type="button" class="btn btn-primary">
                                    Lihat Peristiwa Tim 2
                                </button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
                {% if available_C%}
                    {% for p in grupC %}

                    <tr>
                        <td>C</td>
                        <td>{{ p.team_names }}</td>
                        <td>{{ p.start_datetime }}</td>
                        <td>A</td>
                        <td style="border-collapse: collapse">
                            <a href="{% url 'example_app:peristiwa' %}">
                                <button type="button" class="btn btn-primary">
                                    Lihat Peristiwa Tim 1
                                </button>
                            </a>
                            <br /><br />
                            <a href="{% url 'example_app:peristiwa' %}">
                                <button type="button" class="btn btn-primary">
                                    Lihat Peristiwa Tim 2
                                </button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
                {% if available_D %}
                    {% for p in grupD %}

                    <tr>
                        <td>D</td>
                        <td>{{ p.team_names }}</td>
                        <td>{{ p.start_datetime }}</td>
                        <td>A</td>
                        <td style="border-collapse: collapse">
                            <a href="{% url 'example_app:peristiwa' %}">
                                <button type="button" class="btn btn-primary">
                                    Lihat Peristiwa Tim 1
                                </button>
                            </a>
                            <br /><br />
                            <a href="{% url 'example_app:peristiwa' %}">
                                <button type="button" class="btn btn-primary">
                                    Lihat Peristiwa Tim 2
                                </button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>

{% endblock content %}
